<a href="https://colab.research.google.com/github/Barrok/auto-mpg/blob/main/script.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Load required libraries and modules
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import Kmeans
from sklearn.cluster import AgglomerativeClustering as Agnes

In [62]:
# load data
df = pd.read_fwf("auto-mpg.data", header = None)

# check how data frame looks like
df

        0  1      2      3       4     5   6  7                            8
0    18.0  8  307.0  130.0  3504.0  12.0  70  1  "chevrolet chevelle malibu"
1    15.0  8  350.0  165.0  3693.0  11.5  70  1          "buick skylark 320"
2    18.0  8  318.0  150.0  3436.0  11.0  70  1         "plymouth satellite"
3    16.0  8  304.0  150.0  3433.0  12.0  70  1              "amc rebel sst"
4    17.0  8  302.0  140.0  3449.0  10.5  70  1                "ford torino"
..    ... ..    ...    ...     ...   ...  .. ..                          ...
393  27.0  4  140.0  86.00  2790.0  15.6  82  1            "ford mustang gl"
394  44.0  4   97.0  52.00  2130.0  24.6  82  2                  "vw pickup"
395  32.0  4  135.0  84.00  2295.0  11.6  82  1              "dodge rampage"
396  28.0  4  120.0  79.00  2625.0  18.6  82  1                "ford ranger"
397  31.0  4  119.0  82.00  2720.0  19.4  82  1                 "chevy s-10"

[398 rows x 9 columns]

In [66]:
# list contains column names
col_names = ['mpg', 'cylinders', 'displacement', 'horsepower', 'weight', 'acceleration', 'model_year', 'origin', 'car_name']

# assign names to columns
df.columns = col_names
df['model_year'] = df['model_year'] + 1900
df

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin,car_name
0,18.0,8,307.0,130.0,3504.0,12.0,1970,1,"""chevrolet chevelle malibu"""
1,15.0,8,350.0,165.0,3693.0,11.5,1970,1,"""buick skylark 320"""
2,18.0,8,318.0,150.0,3436.0,11.0,1970,1,"""plymouth satellite"""
3,16.0,8,304.0,150.0,3433.0,12.0,1970,1,"""amc rebel sst"""
4,17.0,8,302.0,140.0,3449.0,10.5,1970,1,"""ford torino"""
...,...,...,...,...,...,...,...,...,...
393,27.0,4,140.0,86.00,2790.0,15.6,1982,1,"""ford mustang gl"""
394,44.0,4,97.0,52.00,2130.0,24.6,1982,2,"""vw pickup"""
395,32.0,4,135.0,84.00,2295.0,11.6,1982,1,"""dodge rampage"""
396,28.0,4,120.0,79.00,2625.0,18.6,1982,1,"""ford ranger"""
397,31.0,4,119.0,82.00,2720.0,19.4,1982,1,"""chevy s-10"""

In [72]:
# check if there are any missing values
df.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model_year      0
origin          0
car_name        0
dtype: int64

In [73]:
# basic statistics of data frame
df.describe().T

,count,mean,std,min,25%,50%,75%,max
mpg,398.0,23.514573,7.815984,9.0,17.500,23.0,29.000,46.6
cylinders,398.0,5.454774,1.701004,3.0,4.000,4.0,8.000,8.0
displacement,398.0,193.425879,104.269838,68.0,104.250,148.5,262.000,455.0
weight,398.0,2970.424623,846.841774,1613.0,2223.750,2803.5,3608.000,5140.0
acceleration,398.0,15.568090,2.757689,8.0,13.825,15.5,17.175,24.8
model_year,398.0,1976.010050,3.697627,1970.0,1973.000,1976.0,1979.000,1982.0
origin,398.0,1.572864,0.802055,1.0,1.000,1.0,2.000,3.0